<section class="h-100 h-custom" style="background-color: #d2c9ff;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-products-center h-100">
            <div class="col-12">
                <div class="card card-registration card-registration-2" style="border-radius: 15px;">
                    <div class="card-body p-0">
                        <div class="row g-0">
                            <div class="col-lg-8">
                                <div class="p-5">
                                    <div class="d-flex justify-content-between align-products-center mb-5">
                                        <h1 class="fw-bold mb-0 text-black">Your Cart</h1>
                                        <h6 class="mb-0 text-muted">{{ getTotal() }} product(s)</h6>
                                    </div>
                                    <hr class="my-4">

                                    <div *ngFor="let item of products"
                                        class="row mb-4 d-flex justify-content-between align-products-center">
                                        <div class="col-md-2 col-lg-2 col-xl-2">
                                            <img [src]="item.imageUrl" class="img-fluid rounded-3" [alt]="item.name">
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-3">
                                            <h6 class="text-muted">{{ item.name }}</h6>
                                            <h6 class="text-black mb-0">{{ item.description }}</h6>
                                        </div>
                                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                            <button class="btn btn-link px-2" (click)="decrementQuantity(item)">
                                                <i class="fas fa-minus"></i>
                                            </button>

                                            <input [(ngModel)]="item.quantity" [id]="item.id" min="0" name="quantity"
                                                [value]="item.quantity" 
                                                class="form-control form-control-sm"
                                                style="height: auto; width: 50px; text-align: center;" />

                                            <button class="btn btn-link px-2" (click)="incrementQuantity(item)">
                                                <i class="fas fa-plus"></i>
                                            </button>
                                        </div>
                                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                            <h6 class="mb-0">{{ getPrice(item)  | currency:"USD":'symbol':"1.2-2"  }}</h6>
                                        </div>
                                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                            <button class="text-muted border-0" (click)="removeItem(item)"><i
                                                    class="fas fa-times"></i></button>
                                        </div>
                                    </div>
                                    
                                    <hr class="my-4">
                                    <div class="d-flex justify-content-end mb-5">
                                        <a (click)="removeAll()" class="btn btn-warning">
                                            Empty Cart
                                        </a>
                                    </div>
                                    <div class="pt-5">
                                        <h6 class="mb-0"><a href="#!" class="text-body"><i
                                                    class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 bg-grey">
                                <div class="p-5">
                                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                                    <hr class="my-4">

                                    <div class="d-flex justify-content-between mb-4">
                                        <h5 class="text-uppercase">Sub-Total</h5>
                                        <h5>{{ calculateTotalPrice() | currency:"USD":'symbol':"1.2-2"}}</h5>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Shipping</h5>

                                    <div class="mb-4 pb-2">
                                        <select class="select form-select " (change)="onDeliveryOptionChange($event)">
                                            <option value="0">Standard-Delivery - Free</option>
                                            <option value="5">Fast Delivery - $5</option>
                                        </select>
                                    </div>

                                    <h5 class="text-uppercase mb-3">Give code</h5>

                                    <div class="mb-5">
                                        <div class="form-outline">
                                            <input type="text" id="form3Examplea2"
                                                class="form-control form-control-lg" />
                                            <label class="form-label" for="form3Examplea2">Enter your code</label>
                                        </div>
                                    </div>

                                    <hr class="my-4">

                                    

                                    <div class="d-flex justify-content-between mb-5">
                                        <h5 class="text-uppercase">Total price</h5>
                                        <h5>{{ calculateTotalPrice() | currency:"USD":'symbol':"1.2-2" }} </h5>
                                    </div>

                                    <button routerLink="/login" *ngIf="isLoggedIn()===false" type="button"
                                        class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Register or
                                        Login</button>
                                    <button *ngIf="isLoggedIn()===true" type="button"
                                        class="btn btn-dark btn-block btn-lg" data-mdb-ripple-color="dark">Buy
                                        Now</button>


                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>